body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    margin: 0;

}

.container {

    padding: 10px;
    border-radius: 8px;

}

h1 {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}



tr:hover {
    background-color: #f1f1f114;
}

.header {
    font-weight: bold;
}

.print-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #e66a00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#back{
    position:relative;
    width: 1;
}
.back{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #e66a00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}