body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {

    padding: 10px;
    border-radius: 8px;

}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.header {
    font-weight: bold;
}

.print-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#back{
    position: absolute;
    left: 20px;
    top: 0px;
    margin-bottom: 20px;
}